<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- This permission is required to be able access the Glyph Matrix -->
    <uses-permission android:name="com.nothing.ketchum.permission.ENABLE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/glyph_water_thumbnail"
        android:supportsRtl="true"
        android:theme="@style/Theme.Theme">

        <!-- Nothing API Key -->
        <meta-data
            android:name="NothingKey"
            android:value="test" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- Animation Demo Service -->
        <service
            android:name=".toys.animation.WaterToy"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.nothing.glyph.TOY" />
            </intent-filter>
            <meta-data
                android:name="com.nothing.glyph.toy.name"
                android:resource="@string/toy_name" />
            <meta-data
                android:name="com.nothing.glyph.toy.image"
                android:resource="@drawable/glyph_water_thumbnail" />
            <meta-data
                android:name="com.nothing.glyph.toy.summary"
                android:resource="@string/toy_summary" />
            <meta-data
                android:name="com.nothing.glyph.toy.longpress"
                android:value="1" />
            <meta-data
                android:name="com.nothing.glyph.toy.aod_support"
                android:value="1"/>
        </service>



    </application>

</manifest>